<div class="panel panel-default"> <!--panel-default class for bootstrap-->

  <div class="panel-heading"> <!--panel-heading class for bootstrap-->
    <h1>Sign up</h1>
  </div>

  <div class="panel-body"> <!--panel-body class for bootstrap-->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label 'First name' %>
        <%= f.text_field :firstname, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label 'Last name' %>
        <%= f.text_field :lastname, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group"> <!--form-group class for bootstrap-->
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %> <!--form-control class for bootstrap-->
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer"> <!--panel-footer class for bootstrap-->
    <%= render "devise/shared/links" %>
  </div>
  
</div>
